.checkbox:checked + .primaryPlaylist-list {
  display: none;
}

:--checkeable {
  cursor: pointer;
  user-select: none;
  padding: 3px 7px;
  border: 1px solid color(red b(10%));
  border-bottom: 3px solid red;
  color: gray(100);
  font-size: 12px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

:--checkeable:--hightlight {
  background: red;
  color: white;
}
