.primaryPlaylist-topic {
  margin: 15px 0 0;
  color: #888B8E;
  font-size: 14px;
  font-weight: 300;
}
.primaryPlaylist-title {
  margin: 0 0 15px;
  color: #3F546C;
  font-size: 20px;
  font-weight: 400;
}
.primaryPlaylist-list {
  display: flex;
  overflow: auto;
}

.primaryPlaylist-list .primaryPlaylistItem {
  margin-right: 10px;
}

.primaryPlaylistItem img {
  width: 250px;
  height: 180px;
  object-fit: cover;
}
.primaryPlaylistItem-title {
  margin: 5px 0;
  color: #44546B;
  font-size: 14px;
  font-weight: normal;
}
