.search {
  grid-area: search;
}

.search input {
  background: #f0f0f0;
  font-family: "Lato";
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  border: none;
  box-shadow: 0 0 10px #f0f0f0;
  box-sizing: border-box;;
}
